@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

header {
  display: flex;
  align-items: center;
  height: 60px;
  color: white;
  background-color: #121212;
  width: 100%;

  .container {
    width: 100%;
  }
}

main {
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: rgb(31,31,31);
}

.container {
  padding: 16px;

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}
