@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

header {
  display: flex;
  align-items: center;
  height: 60px;
  color: white;
  background-color: #121212;
  width: 100%;

  .container {
    width: 100%;
  }
}

main {
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: rgb(31,31,31);
}

.container {
  padding: 16px;

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .card {
      display: flex;
      flex-direction: column;
      width: 212px;
      border: 1px solid grey;
      border-radius: 4px;

      &.empty {
        justify-content: center;
        align-items: center;
        background-color: lightgrey;

        a {
          width: 100%;
          height: 100%;
          text-align: center;
          cursor: pointer;
        }
      }

      .cover {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #a3a3a3;

        img {
          height: 270px;
          width: 180px;
          padding: 16px;
        }
      }

      .details {
        height: 100%;
        padding: 16px;
        background-color: white;

        > div {
          margin-bottom: 8px;
        }

        .primary-text {
          font-size: 24px;
          font-weight: 500;
        }

        .secondary-text {
          font-size: 16px;
        }
      }
    }
  }


}
